.section-product-detail-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 60vh;
    margin-top: 5vh;
}

.product-card-detail-div-img {
    width: 50vw;
    height: 50vh;
    margin: 2vh;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #fff;
}

.product-card-detail-img {
    width: 95%;
    height: 60%;
}

.product-card-detail-button-cart {
    background-color: #fdc4c4;
}

.product-card-detail-button-fav {
    display: flex;
    width: 10vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50%;
    bottom: 23.5%;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #000;
}

.product-card-detail-button-hearth {
    width: 6vw;
}

.product-card-detail-div-info {
    margin: 2vh;
}

.product-card-detail-weight {
    margin-top: 3vh;
}

.product-card-detail-full-description {
    margin-top: 2vh;
}

.product-card-detail-price {
    font-size: 2rem;
    font-weight: bold;
}