.products-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    width: 100%;
    margin-top: 10vh;
}


.card-product {
    position: relative;
    height: 30vh;
    padding: 5vw;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-product-img {
    height: 15vh;

}

.card-product-price {
    position: absolute;
    bottom: 2vh;
    left: 5vw;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-product-button {
    position: absolute;
    bottom: 1vh;
    right: 5vw;
    width: 8vw;
    height: 4vh;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 4px 4px rgb(57, 55, 55, 25%);
    background-color: black;
}