.products-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    width: 100%;
    margin-top: 10vh;
}


.card-product {
    width: 40vw;
    height: 35vh;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}