.header-top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5vh;
}

.header-logo {
    width: 18vw;
    height: 6vh;
}

.header-title {
    font-size: 3.5rem;
}

.header-body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-searchbar {
    width: 50vw;
    height: 4vh;
    margin-top: 2vh;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
}

.header-cart {
    position: absolute;
    right: 12%;
    margin-top: 2vh;
}