.footer {
    position: relative;
    text-align: center;
    background-color: #FDEAEA;
}

.footer-text {
    padding-top: 3vh;
}

.footer-input {
    position: absolute;
    top: 25%;
    right: 15%;
    width: 70vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer-button {
    position: absolute;
    top: 26.5%;
    right: 17%;
    width: 30vw;
    height: 3vh;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 4px 4px rgb(57, 55, 55, 25%);
    z-index: 1;
    background-color: #f4f6f8;
    cursor: pointer;
}

.footer-social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.footer-img-social_media {
    width: 10vw;
    height: 5vh;
    margin: 10vw;
}